.hero {
  padding-bottom: 103px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
    position: relative;
  }

  &-content {
    width: 100%;
    max-width: 555px;
  }

  &-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: calc(70 / 50);
    color: $heading-color;
  }

  &-decs {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-bottom: 50px;
  }
}

// @media screen and (max-width: 1024px) {
//   .hero-content {
//     width: 60%;
//   }
//   .hero-image {
//     width: 40%;
//     position: absolute;
//     top: 50%;
//     transform: translate(40px, -50%);
//   }
// }
@media screen and (max-width: 1023px) {
  .hero-heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 30px;
  }
  .hero-container {
    flex-direction: column-reverse;
    gap: 50px 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
